doctype html
html
	head
		title= title
		
		script(src='/javascripts/jquery-1.11.3.min.js')
		link(rel="stylesheet", href="/stylesheets/bootstrap-3.3.4/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/theme.css")
		script(src='/stylesheets/bootstrap-3.3.4/js/bootstrap.min.js')
		script(src='/javascripts/Highcharts-4.1.5/js/highcharts.js')
		script(src='/javascripts/d3.min.js')
		script(src='/javascripts/underscore-min.js')
	body
		div.container-fluid
			block content